*{
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.cart-quantity{
  height:25px;
  width: 25px;
  background-color: rgb(242, 242, 29);
  color:rgb(5, 5, 5);
  border-radius: 50px;
}
.card-img-top:hover{
  box-shadow: 0 0 10px 10px rgba(112, 128, 144, 0.447);
  cursor: pointer;
}